<a href="https://colab.research.google.com/github/Achu0015/LL-NLP/blob/master/01_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NLP Basics: Reading in text data & why do we need to clean the text?

### Read in semi-structured text data

In [ ]:
from google.colab import files
uploaded = files.upload()

In [9]:
# Read in the raw text
rawData = open("sample_data/SMSSpamCollection.tsv").read()

# Print the raw data
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [10]:
parsedData = rawData.replace('\t', '\n').split('\n')

In [11]:
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [12]:
labelList = parsedData[0::2]
textList = parsedData[1::2]

In [13]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [14]:
import pandas as pd

fullCorpus = pd.DataFrame({
    'label':labelList[:-1],
    'body_list':textList
})

fullCorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [15]:
dataset = pd.read_csv("sample_data/SMSSpamCollection.tsv", sep="\t", header=None)
dataset.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [16]:
import pandas as pd

fullCorpus = pd.read_csv("sample_data/SMSSpamCollection.tsv", sep='\t', header=None)
fullCorpus.columns = ['label', 'body_text']

fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [18]:
#Exploring Dataset

#shape of Dataset

print("Input data has {} rows and {} columns".format(len(fullCorpus), len(fullCorpus.columns)))

Input data has 5568 rows and 2 columns

In [19]:
#How many spam/ham

print("Out of {} rows, {} are spam, {} are ham".format(len(fullCorpus),len(fullCorpus[fullCorpus['label']=='spam']),
                                                       len(fullCorpus[fullCorpus['label']=='ham'])))

Out of 5568 rows, 746 are spam, 4822 are ham

In [20]:
#How much missing data?

print("Number of nulls in the label: {}".format(fullCorpus['label'].isnull().sum()))

print("Number of nulls in the text: {}".format(fullCorpus['body_text'].isnull().sum()))

Number of nulls in the label: 0
Number of nulls in the text: 0

# **Regular Expressions**

In [ ]:
#Text string for describing a search pattern

'''Confirming passwords meeting criteria, Search URL/files, Document Scraping