<a href="https://colab.research.google.com/github/Achu0015/LL-NLP/blob/master/05_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Building Machine Learning Classifiers: Evaluate Random Forest with GridSearchCV

**Grid-search:** Exhaustively search all parameter combinations in a given grid to determine the best model.

**Cross-validation:** Divide a dataset into k subsets and repeat the holdout method k times where a different subset is used as the holdout set in each iteration.

### Read in text

In [2]:
import nltk
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import string

nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

data = pd.read_csv("sample_data/SMSSpamCollection.tsv", sep='\t')
data.columns = ['label', 'body_text']

def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return round(count/(len(text) - text.count(" ")), 3)*100

data['body_len'] = data['body_text'].apply(lambda x: len(x) - x.count(" "))
data['punct%'] = data['body_text'].apply(lambda x: count_punct(x))

def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [ps.stem(word) for word in tokens if word not in stopwords]
    return text

# TF-IDF
tfidf_vect = TfidfVectorizer(analyzer=clean_text)
X_tfidf = tfidf_vect.fit_transform(data['body_text'])
X_tfidf_feat = pd.concat([data['body_len'], data['punct%'], pd.DataFrame(X_tfidf.toarray())], axis=1)

# CountVectorizer
count_vect = CountVectorizer(analyzer=clean_text)
X_count = count_vect.fit_transform(data['body_text'])
X_count_feat = pd.concat([data['body_len'], data['punct%'], pd.DataFrame(X_count.toarray())], axis=1)

X_count_feat.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

   body_len  punct%  0  1  2  3  4  ...  8097  8098  8099  8100  8101  8102  8103
0       128     4.7  0  0  0  0  0  ...     0     0     0     0     0     0     0
1        49     4.1  0  0  0  0  0  ...     0     0     0     0     0     0     0
2        62     3.2  0  0  0  0  0  ...     0     0     0     0     0     0     0
3        28     7.1  0  0  0  0  0  ...     0     0     0     0     0     0     0
4       135     4.4  0  0  0  0  0  ...     0     0     0     0     0     0     0

[5 rows x 8106 columns]

### Exploring parameter settings using GridSearchCV

In [3]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [5]:
rf = RandomForestClassifier()
param = {'n_estimators':[10,150,300],
         'max_depth':[30, 60, 90, None]
         }

gs = GridSearchCV(rf, param, cv=5, n_jobs=-1)
gs_fit = gs.fit(X_tfidf_feat, data['label'])
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]

/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
7       18.876801      0.134268  ...        0.004236                1
10      20.439488      0.394418  ...        0.003368                2
11      37.951341      5.893445  ...        0.003628                3
8       37.336946      0.291772  ...        0.002649                4
5       29.724564      0.115130  ...        0.003351                5

[5 rows x 15 columns]

In [6]:
rf = RandomForestClassifier()
param = {'n_estimators':[10,150,300],
         'max_depth':[30, 60, 90, None]
         }

gs = GridSearchCV(rf, param, cv=5, n_jobs=-1)
gs_fit = gs.fit(X_count_feat, data['label'])
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]

/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
10      20.605189      0.245928  ...        0.002847                1
7       18.911446      0.151457  ...        0.004144                2
8       38.041351      0.956791  ...        0.003351                3
6        1.685201      0.026889  ...        0.004003                4
11      38.052974      5.963860  ...        0.003463                5

[5 rows x 15 columns]